body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2 ;
    margin: 0;
    padding: 20px;
}

.heading{
    color: #2c3e50 ;
    align-items: center;
    text-align: center;
}

.page_button{
    background-color:#e74c3c ;
    color:  #ffffff ;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
}

/* .reg_page{
    align-items: center;
    justify-content: center;
} */

.signup_form{
    background-color: #ffffff ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.text_input{
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}